:root{
    --primary-color: #073349;
    --secondary-color: #8f8f8f;
    --white-color: #ffffff;
}

body, h1, h2, h3{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial;
}

.inverted{
    filter: invert(1);
}

header{
    background-color: var(--primary-color);
    height: 100px;
    color: var(--white-color);
    width: 100%;
}

.navbar{
    width: 80%;
    margin: 0 auto;
}

.navbar-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 80px;
}

.logo-container{
    display: grid;
    place-content: center;
    height: 100px;
}

.logo-uvigo{
    background-size: contain;
    width: 100%;
}

.list-sections{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    height: 100%;
    margin: 0;
    z-index: 99;
}

.list-sections li{
    font-size: 15px;
    width: fit-content;
    text-align: center;
}

.list-sections>li>a{
    color: white;
    text-decoration: none;
}

.list-sections>li>a:hover{
    color: #e7e7e7;
}

.menu-button{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.menu-button:hover{
    background-color: rgba(255, 255, 255, 0.204);
}

.active{
    display: flex !important;
}

.group-footer-container{
    background-color: #d2d2d2;
    color: var(--white-color);
    padding: 20px 0 10px 0;
    color: #041d2a;
}

.footer-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.footer-item{
    font-size: 0.9em;
}

.footer-link{
    color: #041d2a;
    text-decoration: none;
    cursor: pointer;
}

.footer-link:hover{
    color: #073349;
    text-decoration: underline;
}

.legal-advise{
    margin: 0 auto;
}

.legal-advise-list{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 0;
}

.legal-advise-list-item{
    font-size: 12px;
}

.legal-advise-list-item>a{
    color: #041d2a;
    text-decoration: none;
    cursor: pointer;
}

.legal-advise-list-item>a:hover{
    color: #073349;
    text-decoration: underline;
}

.icon_pin_alt:before {
    font-family: ElegantIcons;
    content: "\E01D"
}

.uvigo-footer-container{
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    font-size: 0.9em;
}

.preview-uvigo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

#button-preview-uvigo-footer{
    border: none;
    width: 130px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    color: inherit;
    display: flex;
    align-content: center;
    column-gap: 5px;
    font-size: medium;
}

#button-preview-uvigo-footer>img{
    transition: all 0.3s;
}

#footer-expanded-uvigo-info{
    display: none;
    flex-direction: column;
    row-gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.footer-uvigo-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    margin-bottom: 30px;
}

.footer-uvigo-row a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer-uvigo-row a:hover{
    color: #e7e7e7;
    text-decoration: underline;
}

.footer-uvigo-row > article > p{
    display: flex;
    align-content: center;
    column-gap: 5px;
}

.first-footer-uvigo-row > article >p:first-child{
    margin: 0;
}

.first-footer-uvigo-row > article >p:not(:first-child){
    margin: 10px 0 0 35px;
}

.uvigo-footer-item>a{
    color: white !important;
}

.title-main-content{
    font-size: 1.5em;
    margin: 20px 0;
    text-transform: uppercase;
    font-style: italic;
    color: #073349;
    text-align: center;
}

.filter-container{
    width: 60%;
    margin: 0 auto;
}

.form-filter{
    padding: 20px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
}

.row-filter{
    width: 100%;

    & > h4{
        margin: 5px;
        text-transform: uppercase;
        color: #777777;
        font-weight: 500;
    }

    & > div{
        display: flex;
        flex-direction: row;
        row-gap: 10px;
        column-gap: 10px;
        width: 100%;
    }

    & > div > *{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
    }
}

.catalog-content{
    margin: 20px auto;
    width: 80%;
}

.table-catalog-content{
    --border-color: #033c5b57;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border-color);

    & > thead th,
    & > tbody td{
        border: 1px solid var(--border-color);
        padding: 10px;
    }

    & > thead th{
        background-color: #0733491d;
        color: #073349;
        font-weight: 500;
    }

    & > tbody tr:nth-of-type(2n + 1){
        background-color: #f2f2f2a4;
    }

    & > tbody tr:hover{
        background-color: #d2d2d25d;
    }

    & > tbody a{
        color: #073349;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;


    }

    & > tbody a:hover{
        color: #073349;
        text-decoration: underline;
    }
        
}

@media screen and (max-width: 1180px){
    .navbar-container{
        column-gap: 10px;
    }

    .footer-uvigo-row{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }
}

@media screen and (max-width: 1050px){
    .logo-uvigo{
        width: 250px;
    }
    .navbar-container{
        grid-template-columns: 1fr;
    }

    .list-sections{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 50px;
        height: 100vh;
        background-color: var(--secondary-color);
        padding: 50px 10px;
        box-sizing: border-box;
    }

    .menu-button{
        display: block;
    }

    .filter-container{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .footer-uvigo-row{
        grid-template-columns: 1fr;
    }

    .row{
        grid-template-columns: 1fr;
    }

    .row-filter{
        & > div{
            flex-direction: column;
        }
    }
}